<configuration debug="true">
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] %-5level %logger{36} - %ms%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="com.warrenr" level="debug"/>
    <logger name="org.apache" level="off"/>

    <root level="warn">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>